<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheet.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lugrasimo&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" 
        rel="stylesheet">
    <title>May 13</title>
</head>
<body>
    <a href="../../homestead.html">Dates</a>
    <div class="chart">
        

        <div class="textcell">
            <div class="menuItem">
                
            </div>
            <div class="menuItem">
                <h3>May 13</h3>
            </div>
            <div class="menuItem">
                <a href="../views/514.html">Next</a>
            </div>
        </div>
        <div class="imagecell">
            <img src="../images/513/513cement1.jpg">
        </div>
        <div class="imagecell">
            <img src="../images/513/513cement6.jpg">
        </div>
        <div class="textcell">
            
        </div>

        <div class="imagecell">
            <img src="../images/513/513cement2.jpg">
        </div>
        <div class="imagecell">
            <img src="../images/513/513cement5.jpg">
        </div>
        <div class="textcell">
            <p>
                <p>
                    Today we started clearing the dirt and debris from the cement area.
                </p>
            </p>
        </div>

        <div class="imagecell">
            <img src="../images/513/513grass1.jpg">
        </div>
        <div class="imagecell">
            <img src="../images/513/513grass3.jpg">
        </div>
        <div class="textcell">
            <p>
                We also started trimming back the grass for the garden area, but the battery for the trimmer didn't last very long.
                We are going to go back with Matty's gas powered trimmer which will hopefully have more strength.
            </p>
        </div>

        <div class="imagecell">
            <img src="../images/513/513frog.jpg">
        </div>
        <div class="imagecell">
            <img src="../images/513/513cement4.jpg">
        </div>
        <div class="textcell">
            <p>
                Left: We found a lil' frog behind the tall grass of the cement area.
                He was living in a hole from the rotted wood of the fence. Looks like our tadpoles will be just fine when they grow up!<br>
                Right: The first pile of JUNK we scraped up off the cement. The dirt and roots were surprisingly thick in the north-west corner.
            </p>
        </div>

        <div class="imagecell">
            <img src="../images/513/513cement3.jpg">
        </div>
        <div class="imagecell">
            <img src="../images/513/513grass2.jpg">
        </div>
    </div>
</body>
</html>
