<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheet.css">
    <title>May 14</title>
</head>
<body>
    <a href="1dates.html">Dates</a>
    <div class="chart">
        <div class="textcell">
            <h3>May 14</h3>
        </div>
        <div class="imagecell">
            Before
        </div>
        <div class="imagecell">
            After
        </div>
        <div class="textcell">
            Text
        </div>
    </div>
    
</body>
</html>