<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheet.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lugrasimo&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" 
        rel="stylesheet">
    <title>May 14</title>
</head>
<body>
    <a href="../../../homestead.html">All Dates</a>
    <div class="chart">
        <div class="textcell">
            <div class="menuItem">
                <a href="../views/513.html">Previous</a>
            </div>
            <div class="menuItem">
                <h3>May 14</h3>
            </div>
            <div class="menuItem">
                <a href="../views/515.html">Next</a>
            </div>
        </div>
        <div class="imagecell">
            <img src="../images/513/513cement3.jpg">
        </div>
        <div class="imagecell">
            <img src="../images/514/514cement1.jpg">
        </div>
        <div class="textcell">
            <p>
            The last of the mess in the cement area was cleared today! We removed the last of the
            fence boards, the boats, and moved the cart out of the way to clear the rest of the dirt.
            We also trimmed back the vines from over the wall.
            </p>
        </div>

        <div class="imagecell">
            <img src="../images/514/514hayley.jpg">
        </div>
        <div class="imagecell">
            <img src="../images/514/514nick.jpg">
        </div>
        <div class="textcell">
            <p>
                And we took some fine as hell pictures in our new fermin outfits
            </p>
        </div>
        <div class="imagecell">
            <img src="../images/514/514both.jpg">
        </div>
        <div class="imagecell">
            <img src="../images/514/514frog.jpeg">
        </div>
        <div class="textcell">
            <p>
                AND WE FOUND ANOTHER BABY FROG
            </p>
        </div>
    </div>
    
</body>
</html>
