<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheet.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lugrasimo&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" 
        rel="stylesheet">
    <title>May 14</title>
</head>
<body>
    <a href="../../../homestead.html">All Dates</a>
    <div class="chart">
        <div class="textcell">
            <div class="menuItem">
                <a href="../views/514.html">Previous</a>
            </div>
            <div class="menuItem">
                <h3>May 15</h3>
            </div>
            <div class="menuItem">
                <p>Next</p>
            </div>
        </div>
        <div class="imagecell">
            Before
        </div>
        <div class="imagecell">
            AFter
        </div>
        <div class="textcell">
            Text
        </div>

        
    </div>
    
</body>
</html>
