<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheet.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lugrasimo&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" 
        rel="stylesheet">
    <title>Before and After</title>
</head>
<body>
    <a href="../../homestead.html">Home</a>
    <div class="chart">
        
        <div class="textcell">
            <h2>Before and After</h2>
        </div>
        <div class="imagecell">
            <img src="../images/513/513cement2.jpg">
        </div>
        <div class="imagecell">
            <img src="../images/515/515southeastcement.jpg">
        </div>
        <div class="textcell"></div>

        <div class="imagecell">
            <img src="../images/513/513cement3.jpg">
        </div>
        <div class="imagecell">
            <img src="../images/515/515northwestcement.jpg">
        </div>
        <div class="textcell"></div>

        <div class="imagecell">
            <img src="../images/513/513grass1.jpg">
        </div>
        <div class="imagecell">
            <img src="../images/516/516grassleft.jpg">
        </div>
        <div class="textcell"></div>

        <div class="imagecell">
            <img src="../images/513/513grass2.jpg">
        </div>
        <div class="imagecell">
            <img src="../images/516/516grassright.jpg">
        </div>

        
    </div>
</body>
</html>
