<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheet.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lugrasimo&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" 
        rel="stylesheet">
    <title>May 13</title>
</head>
<body>
    <a href="../../homestead.html">Dates</a>
    <div class="chart">
        <div class="imagecell">
            <img src="../images/513/513cement1.jpg">
        </div>
        <div class="imagecell">
            <img src="../images/513/513cement6.jpg">
        </div>
        <div class="textcell">
            <p>West Wall</p>
        </div>

        <div class="imagecell">
            <img src="../images/513/513cement2.jpg">
        </div>
        <div class="imagecell">

        </div>
        <div class="textcell">
            <p>View from the East Wall</p>
        </div>

        <div class="imagecell">
            <img src="../images/513/513cement3.jpg">
        </div>
        <div class="imagecell">

        </div>
        <div class="textcell">
            <p>View from the North West Corner</p>
        </div>

        <div class="imagecell">
            <img src="../images/513/513grass1.jpg">
        </div>
        <div class="imagecell">

        </div>
        <div class="textcell">
            <p>Garden Area</p>
        </div>

        <div class="imagecell">
            <img src="../images/513/513grass2.jpg">
        </div>
        <div class="imagecell">
            <img src="../images/514/514grass2.jpg">
        </div>
        <div class="textcell">
            <p>Garden Area</p>
        </div>
        
    </div>
</body>
</html>