<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheet.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lugrasimo&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" 
        rel="stylesheet">
    <title>June</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
    <div id="menu">
        <a href="../../homestead.html">
            <div class="menuButton">
                <h3>Home</h3>
            </div>
        </a>
        <a href="/homestead/views/beforeAndAfter.html">
            <div class="menuButton">
                <h3>Before and After</h3>
            </div>
        </a>
        <a href="/homestead/views/may.html">
            <div class="menuButton">
                <h3>May</h3>
            </div>
        </a>
    </div>


    <br>
    <!-- May 13 -->
    <div class="chart">
        

        <div class="dateCell">            
            <h2>June 5</h2>            
        </div>

        <div class="imagecell">
            <img src="../images/605/Drive1.jpg">
        </div>
        <div class="imagecell">
            <img src="../images/605/Drive2.jpg">
        </div>
        <div class="textcell">
            <p>This is the driveway that we need to clear for the mobile home to get through. It's going to take a lot of work,
                and we till need to figure out where everything is going to go.
            </p>
        </div>
        <div class="imagecell">
            <img src="../images/605/Drive3.jpg">
        </div>
        <div class="imagecell"></div>
        <div class="textcell">
            <p>
                <p>
                    We also need to clear this area for the truck to pull into in order to reverse into the spot along the wall.
                </p>
            </p>
        </div>
        <div class="imagecell">
            <img src="../images/605/hill1.jpg">
        </div>
        <div class="imagecell">
            <img src="../images/605/hill2.jpg">
        </div>
        <div class="textcell">
            <p>
                Nick didn't have access to the strimmers today, but still started pulling out more of the weeds and nettles around the boat trailer.
            </p>
        </div>
        <div class="imagecell">
            <img src="../images/605/boatTrailer.jpg">
        </div>
        <div class="imagecell">
            <img src="../images/605/logs.jpg">
        </div>
        <div class="textcell">
            <p>
                Turns out the large hill in the back is mostly old logs. Should make knocking it down a lot easier!
            </p>
        </div>
        <div class="imagecell">
            <img src="../images/605/grassleft.jpg">
        </div>
        <div class="imagecell">
            <img src="../images/605/grassright.jpg">
        </div> 
        
        <div class="dateCell">
            <h3>June 6</h3>
        </div>

        <div class="imagecell">
            <img src="../images/606/boats.jpg">
        </div>
        <div class="imagecell">
        </div>
        <div class="textcell">
            <p>Land Ho! We finally got the other boats lifted from the roots and dirt in the garden area. We're thinking of using them as garden beds and maybe for the tadpole pond</p>
        </div>
        <div class="imagecell">
            <img src="../images/606/nettleHill2.jpg">
        </div>
        <div class="imagecell">
            <img src="../images/606/nettleHill1.jpg">
        </div>
        <div class="textcell"></div>
        <div class="imagecell">
            <img src="../images/606/nettleHill3.jpg">
        </div>
        <div class="imagecell">
            <img src="../images/606/nettleHill4.jpg">
        </div>
        <div class="textcell">
            <p>And thus begins the destruction of the newly dubbed "Nettle Hill". Nick didn't have access to the strimmers or 
                hedge trimmers, but still managed to do some good damage by hand. We're going to use the excess dirt from the hill
                to level out the rest of the garden area.
            </p>
        </div>
        <div class="imagecell">
            <img src="../images/606/grassLeft.jpg">
        </div>
        <div class="imagecell">
            <img src="../images/606/grassRight.jpg">
        </div>

    </div>

    

  

   
</body>
</html>