<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheet.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lugrasimo&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" 
        rel="stylesheet">
    <title>May</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
    <p>peepee</p>
    <div id="menu">
        <a href="../../homestead.html">
            <div class="menuButton">
                <h3>Home</h3>
            </div>
        </a>
        <a href="/homestead/views/beforeAndAfter.html">
            <div class="menuButton">
                <h3>Before and After</h3>
            </div>
        </a>
    </div>


    <br>
    <!-- May 13 -->
    <div class="chart">
        

        <div class="dateCell">            
            <h2>May 13</h2>            
        </div>

        <div class="imagecell">
            <img src="../images/513/513cement1.jpg">
        </div>
        <div class="imagecell">
            <img src="../images/513/513cement6.jpg">
        </div>
        <div class="textcell"></div>
        <div class="imagecell">
            <img src="../images/513/513cement2.jpg">
        </div>
        <div class="imagecell">
            <img src="../images/513/513cement5.jpg">
        </div>
        <div class="textcell">
            <p>
                <p>
                    Today we started clearing the dirt and debris from the cement area.
                </p>
            </p>
        </div>
        <div class="imagecell">
            <img src="../images/513/513grass1.jpg">
        </div>
        <div class="imagecell">
            <img src="../images/513/513grass3.jpg">
        </div>
        <div class="textcell">
            <p>
                We also started trimming back the grass for the garden area, but the battery for the trimmer didn't last very long.
                We are going to go back with Matty's gas powered trimmer which will hopefully have more strength.
            </p>
        </div>
        <div class="imagecell">
            <img src="../images/513/513frog.jpg">
        </div>
        <div class="imagecell">
            <img src="../images/513/513cement4.jpg">
        </div>
        <div class="textcell">
            <p>
                Left: We found a lil' frog behind the tall grass of the cement area.
                He was living in a hole from the rotted wood of the fence. Looks like our tadpoles will be just fine when they grow up!<br>
                Right: The first pile of JUNK we scraped up off the cement. The dirt and roots were surprisingly thick in the north-west corner.
            </p>
        </div>
        <div class="imagecell">
            <img src="../images/513/513cement3.jpg">
        </div>
        <div class="imagecell">
            <img src="../images/513/513grass2.jpg">
        </div>        
    </div>

    <!-- May 14 -->
    <br>
    <div class="chart">
        <div class="dateCell">
            <h2>May 14</h2>
        </div>
        <div class="imagecell">
            <img src="../images/513/513cement3.jpg">
        </div>
        <div class="imagecell">
            <img src="../images/514/514cement1.jpg">
        </div>
        <div class="textcell">
            <p>
            The last of the mess in the cement area was cleared today! We removed the last of the
            fence boards, the boats, and moved the cart out of the way to clear the rest of the dirt.
            We also trimmed back the vines from over the wall.
            </p>
        </div>

        <div class="imagecell">
            <img src="../images/514/514hayley.jpg">
        </div>
        <div class="imagecell">
            <img src="../images/514/514nick.jpg">
        </div>
        <div class="textcell">
            <p>
                And we took some fine as hell pictures in our new fermin outfits
            </p>
        </div>
        <div class="imagecell">
            <img src="../images/514/514both.jpg">
        </div>
        <div class="imagecell">
            <img src="../images/514/514frog.jpeg">
        </div>
        <div class="textcell">
            <p>
                AND WE FOUND ANOTHER BABY FROG
            </p>
        </div>
    </div>

    <!-- May 15 -->
    <br>
    <div class="chart">
        <div class="dateCell">
            <h2>May 15</h2>
        </div>
        <div class="imagecell">
            <img src="../images/515/515northwestcement.jpg">
        </div>
        <div class="imagecell">
            <img src="../images/515/515southeastcement.jpg">
        </div>
        <div class="textcell"></div>
        <div class="imagecell">
            <img src="../images/515/515grassleft.jpg">
        </div>
        <div class="imagecell">
            <img src="../images/515/515grassright.jpg">
        </div>
        <div class="textcell"></div>
        <div class="imagecell">
            <img src="../images/515/515halfandhalf.jpg">
        </div>
        <div class="imagecell"></div>
        <div class="textcell">
            <p>
                Today we worked back the long grass some more using the gas trimmers, and cleaned up more of the cement area. We also bought some
                skip bags to collect the grass clippings and extra dirt.
            </p>
        </div>
    </div>

    <!-- May 16 -->
    <br>
    <div class="chart">
        <div class="dateCell">
            <h2>May 16</h2>
        </div>
        <div class="imagecell">
            <img src="../images/516/516garbage.jpeg">
        </div>
        <div class="imagecell">
            <img src="../images/516/516tireland.jpg">
        </div>
        <div class="textcell">
            <p>
                We pulled up so many damn tires, lengths of barbed wire, and plastic from the garden area today. 
                It was all buried underneath dirt and grass that we're guessing grew over it after it was all left for
                who knows how long
            </p>
        </div>
        <div class="imagecell">
            <img src="../images/516/516nicktrimmer.jpeg">
        </div>
        <div class="imagecell">
            <img src="../images/516/516trailer.jpg">
        </div>
        <div class="textcell">
            <p>
                Nick worked back more of the grass in the garden area, but we had to stop pretty often when we found more 
                barbed wire, lots of rope and string, and what looks like a boat trailer. This is gonna take a lot of work to get
                the trailer out before we can fully dig the ground in this area.
            </p>
        </div>
        <div class="imagecell">
            <img src="../images/516/516tiresdirty.jpeg">
        </div>
        <div class="imagecell">
            <img src="../images/516/516tiresclean.jpg">
        </div>
        <div class="textcell">
            <p>
                Hayley cleaned up outside the garden area, and we laid out the tires we found. We are thinking of laying them out along the fence,
                and maybe using them as planters for some flowers to pretty up the outside area.
            </p>
        </div>
        <div class="imagecell">
            <img src="../images/516/516well.jpg">
        </div>
        <div class="imagecell">
            <img src="../images/516/516frog.jpg">
        </div>
        <div class="textcell">
            <p>
                We had a classic "put down the shovel and find treasure" moment today. Hayley slapped down the shovel while we were clearing grass 
                and we heard a big thump. We dug up what looks to be either a well or a sewage source. Either way a really cool find.<br>
                We also found another frog today! It was right on Hayleys heels, and just a lil' bugger.
            </p>
        </div>
    </div>

  

   
</body>
</html>
